BOT_TOKEN=your-telegram-bot-token

ADMINS=your-telegram-user-id,your-telegram-user-id,your-telegram-user-id,...,

POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=name_db